/**
 * Main styles for: {%= name %}
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers. 
 */

body .node-unpublished {
  background-repeat: no-repeat;
}
      
.interactive-container  {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.{%= name %}-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;

  .clear {
    clear: both;
  }
  .hidden {
    display: none;
  }

  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }
  
  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }
  
  .loading {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
  
    span {
      padding: 10px 5px 10px 40px;
      background: transparent url('$loader-image') center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }
  
  {% if (map) { %}
  .leaflet-container {
    width: 100%;
    height: 300px;
    margin-bottom: 1em;
  
    .map-label-container {
      min-width: 10em;
      max-width: 18em;
      min-height: 2em;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.9);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      border: 1px solid #888;
    
      .map-label-inner-container {
        padding: .5em;
      }
    }
  }
  {% } %}
}